body {
  display: flex;
  flex-direction: column;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;
  background-color: #f7a024;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  color: #1e2c39;
  text-align: center;
  width: 100%;
}

p, h1, h2, h3 {
  max-width: 700px;
  text-align: center; /* Optional: Centers text inside */
  margin: 0 auto; /* Ensures text is centered */
  line-height: 1.6;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #dd4b2a;
  padding: 20px;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #dd4b2a;
  padding: 20px;
}

h3 {
  font-size: 1em;
  line-height: 1.1;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #dd4b2a;
  padding: 20px;
}
